<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PleasantvilleGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PleasantvilleGame.Properties.Settings>
            <setting name="WindowPlacement" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;&lt;WindowPlacement xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;&lt;length&gt;44&lt;/length&gt;&lt;flags&gt;2&lt;/flags&gt;&lt;showCmd&gt;3&lt;/showCmd&gt;&lt;minPosition&gt;&lt;X&gt;-1&lt;/X&gt;&lt;Y&gt;-1&lt;/Y&gt;&lt;/minPosition&gt;&lt;maxPosition&gt;&lt;X&gt;-1&lt;/X&gt;&lt;Y&gt;-1&lt;/Y&gt;&lt;/maxPosition&gt;&lt;normalPosition&gt;&lt;Left&gt;260&lt;/Left&gt;&lt;Top&gt;260&lt;/Top&gt;&lt;Right&gt;2180&lt;/Right&gt;&lt;Bottom&gt;1340&lt;/Bottom&gt;&lt;/normalPosition&gt;&lt;/WindowPlacement&gt;</value>
            </setting>
            <setting name="ZoomCanvas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="theIsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollViewerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollViewerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDirectoryName" serializeAs="String">
                <value />
            </setting>
        </PleasantvilleGame.Properties.Settings>
    </userSettings>
</configuration>